/* Homepage CSS */

#foodpanda {
    width: 300px;
    height: 130px;
    zoom: 50%;
    background: url("../img/home/grab-panda.png") 0 0;
}

#foodpanda-button:hover {
    background-color: #df3c9b;
}

#foodpanda-button:hover span {    
    background: url("../img/home/grab-panda.png") 0 -260px;
}

#grab {
    width: 300px;
    height: 130px;
    zoom: 50%;
    background: url("../img/home/grab-panda.png") 0 -130px;
}

#grab-button:hover span{
    background: url("../img/home/grab-panda.png") 0 -390px;
}

#grab-button:hover {
    background-color: #00af00;
}

#foodpanda-button, #grab-button {
    border-width: 3px;
}

hr {
    display: block;
    margin: 2em;
    border-style: none;
    border-width: 1px;
    background-color: black;
    height: 1px;
}

#navtop{
    margin: 0;
    height: 0.5rem;
    background-color:rgba(0,99,65,1);
}

h1.custom-h1:hover{
    font-weight: bold; 
}

a.custom-anchor:hover, h1.custom-h1:hover{
    background-color: white;
    color: rgb(1, 151, 99);    
}

.section-title{
    font-weight: 700;
    font-size: 2.5rem;
}

.section-subtitle{
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.custom-icon:hover{
    color: darkblue;
}

#footer-name{
    font-size: larger;
    color: rgba(0,99,65,1);
}

.custom-breaker{
    display: block;
    margin: 1rem 0rem 0rem;
    border-style: none;
    border-width: 1px;
    height: 0.2rem;
}

#breaker-bin{
    background-color: rgba(0,99,65,1);
}

#breaker-hs{
    background-color: rgb(255, 145, 1);
}

#breaker-pancit{
    background-color: rgb(201, 23, 0);
}

#breaker-drinks{
    background-color: rgb(2, 0, 99);
}