<!DOCTYPE html>
<html>
<head>
	<title>CSARCH2 G5| Restoring Division</title>

	<!-- Meta Data -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS Links -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/customized.css">

	<!-- Javascript Links-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="../js/main.js"></script>

</head>
<body>
<div class="container-js">
	<hr id="navtop">

	
	<!-- Section Header -->
	<section class="hero is-small">
		<div class="hero-body has-text-centered mt-5">
			<p class="hero-styling">Restoring Division Algorithm</p>
		</div>
	</section>

	<!-- Login Form -->
	<div class="task-container columns is-multiline mt-2 mb-5">
        <div class="card column is-half is-offset-one-quarter">
            <form class="p-5">

				<div class="field">
					<label class="label">Dividend (Q)</label>
					<div class="control has-icons-left">
					  <input class="input mb-3" type="text" placeholder="Numerator in Binary">
					  <span class="icon is-small is-left">
						<i class="fas fa-divide"></i>
					  </span>
					</div>
				</div>
                
                <div class="field">
					<label class="label">Divisor (M)</label>
					<div class="control has-icons-left">
					  <input class="input mb-3" type="text" placeholder="Denominator in Binary">
					  <span class="icon is-small is-left">
						<i class="fas fa-divide"></i>
					  </span>
					</div>
				</div>
						  
				<div class="buttons is-centered is-grouped mt-5">
					<div class="control">
						<button class="button is-success">
							<a href="step-by-step">Show Step-by-Step</a>							
					    </button>
					</div>
                    <div class="control">
						<button class="button is-warning">
							<a href="show-all">Show All</a>							
					    </button>
					</div>
                    <div class="control">
						<button class="button is-info">
							<a href="#">Download Text File</a>							
					    </button>
					</div>
				</div>

			</form>			
        </div>
    </div>
	
	<!-- Footer -->
	<footer class="has-text-centered pt-5 mb-5">
		<p>Computer Architecture 2</p>
		<br>
		<p>Abendaño, Dimaculangan, Polinga, Tendido</p>
	</footer>
</div>

</body>
</html>