/* Homepage CSS */

hr {
  display: block;
  margin: 2em;
  border-style: none;
  border-width: 1px;
  background-color: black;
  height: 1px;
}

#navtop {
  margin: 0;
  height: 0.5rem;
  background-color: rgba(0, 99, 65, 1);
}

h1.custom-h1:hover {
  font-weight: bold;
}

a.custom-anchor:hover,          
h1.custom-h1:hover {
  background-color: white;    
  color: rgb(1, 151, 99);  
}

.section-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.section-subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.custom-icon:hover {
  color: darkblue;
}

#footer-name {
  font-size: larger;
  color: rgba(0, 99, 65, 1);
}

.next-button {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  outline-style: round;
  border-radius: 5px;
  border-width: 1px;
}

a:focus, a:hover {
  color: #ffffff;
  text-decoration: none !important;
}